# Models
*.safetensors
*.bin
*.pt
*.h5

# Data
*.csv
data/
datasets/

# Ignore model folders completely
roberta_classifierog/
roberta_classifieraugmented/
smollm/

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Notebook checkpoints
.ipynb_checkpoints/
